/*브라우저 기본 스타일*/
body{
	margin: 0;
	background: url("../images/leading24.png");
}

/*사용자 정의 스타일 오버라이딩 (덮어쓰기)*/

body{
	font-size: 16px;
	color: #121003;
	line-height: 1.5;/*1.5배 24px */
	font-family: "Spoqa Han Sans";
	letter-spacing: -0.04em;
}

p{
	margin-top: 0;
	margin-bottom: 1.5em;/*위의 라인하이트 값과 동일*/
}

/* 헤딩 설계*/

h6{
	margin-top: 0;
	margin-bottom: 1.5em;
	font-size: 1em;
	line-height: 1.5em;
}

h5{
	margin-top: 0;
	margin-bottom: 1.2em;
	font-size: 1.25em;/*1*1.25*/
	line-height: 1.2em;/* line-height: ceil(1.25÷ 1.5) × (1.5 ÷ 1.25) */
}

h4{
	margin-top: 0;
	margin-bottom: 0.96em;
	font-size: 1.5625em;
	line-height: 1.92em;
}


h3{
	margin-top: 0;
	margin-bottom: 0.768em;
	font-size: 1.953125em;
	line-height: 1.536em;
}

h2{
	margin-top: 0;
	margin-bottom: 0.6144em;
	font-size: 2.44140625em;
	line-height: 1.2288em;
}


h1{
	margin-top: 0;
	margin-bottom: 0.49152em;
	font-size: 3.0517578125em;
	line-height: 1.47456em;
}




/*레이아웃 설계*/
body{
	width:840px;
	margin-left: auto;
	margin-right: auto;	
}
