body { 
	margin: 0;
	height: 100vh;
	background: url("../images/interior_1920.jpg") no-repeat center;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
 }

 h1 {
 	font-weight: 100;
 	letter-spacing: 0.23em;
 }